.contactItem {
    background-color: #d8d8e9;
    color: #010102;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #8297bb;
    width: 200px;
}

.contactList {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.notification{
    color: #13131f;
    font-weight: bold;
    margin-left: 10px;
}